@font-face {
  font-family: 'Inter';
  src:
    url('./fonts/Inter/Inter-Regular.woff') format('woff'),
    url('./fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('./fonts/Inter/Inter-Bold.woff') format('woff'),
    url('./fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('./fonts/Inter/Inter-SemiBold.woff') format('woff'),
    url('./fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, 'Times New Roman', Times, serif;
  color: #344563;
  background-color: #fff;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  body {
    background-image: url("./images/Header-llustration-desktop.svg");
    background-size: 1440px;
    background-position: center top;
    background-repeat: no-repeat;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header > * {
  margin: 0 40px;
}

.header .logo {
  font-weight: 600;
  font-size: 20px;
}

.desktop-header {
  display: none;
  text-align: center;
  background-color: transparent;
  right: 0;
  left: 0;
}

.desktop-header a {
  font-weight: 600;
  padding: 10px 12px;
  display: inline-block;
  transition: all 200ms;
}

.desktop-header a:hover {
  transform: translateY(-2px);
  color: #36b37e;
}

.desktop-header nav {
  display: block;
  padding: 1px;
  width: fit-content;
  width: -moz-fit-content;
  margin: 16px auto;
}

@media screen and (min-width: 992px) {
  .header {
    display: none;
  }

  .desktop-header {
    display: block;
  }
}

main > section {
  margin: 0 auto;
}

main .content {
  background-image: url("./images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 20px 20px;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;
  color: #172b4d;
}

@media screen and (min-width: 992px) {
  main .content {
    height: 756px;
    width: 920px;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
    background-image: none;
    justify-content: center;
  }
}

main h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin: 58px 0;
}

main p {
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 58px;
  font-size: 20px;
}

h1 span {
  color: #36b37e;
}

main .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 58px;
}

.social svg {
  transition: all 200ms;
  cursor: pointer;
  color: #505f79;
}

main .social svg {
  padding: 14px;
}

.social svg:hover {
  animation: rotation 200ms linear both;
  color: rgba(54, 179, 126, 1);
}

@keyframes rotation {
  0%,
  100% {
    transform: scale(1) rotateZ(0);
  }

  50% {
    transform: scale(1.1) rotateZ(20deg);
  }
}

main .action {
  margin-bottom: 22px;
  cursor: pointer;
}

.contact-form .social svg {
  padding: 0;
  padding: 8px;
}

main .action svg:hover {
  animation: action-rot 250ms ease-in-out;
}

@keyframes action-rot {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.section-heading {
  align-items: center;
  gap: 24px;
}

.section-heading h1 {
  margin: 0 20px;
  color: #172b4d;
}

.section-heading .indicator {
  width: 48px;
  height: 4px;
  border-radius: 24px;
  background-color: #36b37e;
}

@media screen and (min-width: 992px) {
  .section-heading .indicator {
    background-color: transparent;
  }
}

.recent-works .card-container {
  color: #3a4a42;
  text-align: center;
  margin-bottom: 250px;
}

.card {
  box-sizing: border-box;
  position: relative;
  background-color: #ebf0ee;
  align-items: center;
  margin: 26px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d0d9d4;
  width: 327px;
  height: 474px;
  transition: all 200ms;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.05),
    0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05);
}

.card:hover {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.05),
    0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05),
    0 32px 32px rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}

.recent-works .card-container .card {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .recent-works .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1203px;
  }

  .recent-works .card-container .card {
    width: 100%;
    margin: 0 auto;
  }
}

.recent-works .image {
  background-color: #ebf0ee;
  width: 100%;
}

.card > .inner-box {
  position: absolute;
  bottom: 0;
}

.card > .image {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 40%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card h2 {
  font-weight: 600;
}

.card .inner-box {
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  height: 222px;
  justify-content: space-around;
  align-items: center;
}

.card ul {
  list-style-type: none;
  margin: 0 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.card ul li {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  width: max-content;
}

button,
input[type="submit"] {
  background-color: #36b37f;
  border: none;
  padding: 12px;
  color: white;
  font-weight: 500;
  font-size: 17px;
  font-family: Inter, 'Times New Roman', Times, serif;
  border-radius: 4px;
  text-align: justify;
  line-height: 24px;
  cursor: pointer;
  transition: all 200ms;
}

button:hover,
input[type="submit"]:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  background-color: #3ebe89;
}

button:active,
input[type="submit"]:active {
  background-color: #008552;
}

.about {
  align-items: center;
  position: relative;
  margin-top: 68px;
  overflow-x: clip;
}

.about .crane {
  position: absolute;
}

.about .crane.right {
  right: 0;
  top: -50px;
}

.about .crane.left {
  left: 0;
  top: 230px;
}

.about .description {
  margin: 0 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media screen and (min-width: 992px) {
  .about .description {
    max-width: 60%;
  }

  .about .crane {
    animation: crane-float 2s alternate infinite ease-in-out;
  }

  @keyframes crane-float {
    0% {
      transform: scale(3) translateY(0);
    }

    100% {
      transform: scale(3) translateY(-10px);
    }
  }

  .about .crane.right {
    transform: scale(3);
    right: 0;
    top: -50px;
    animation-delay: -0.6s;
    animation-duration: 2s;
  }

  .about .crane.left {
    left: 0;
    top: 100px;
    transform: scale(3);
  }
}

.about .card-container {
  margin-top: 59px;
}

@media screen and (min-width: 992px) {
  .about .card-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.about .card-container .card {
  align-items: center;
  margin: 26px auto;
}

@media screen and (min-width: 992px) {
  .about .card-container .card {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.about .card .icon {
  height: 80px;
  width: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  margin: 64px 0 40px;
}

.about .card ul {
  max-width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 72px;
}

.about .card ul li {
  background-color: #fff;
  color: rgba(54, 179, 126, 1);
  margin: 0;
}

.contact-form {
  position: relative;
}

.contact-form .container {
  width: 327px;
  margin: 0 auto;
  margin-bottom: 336px;
}

.contact-form .two-pane .footer-text {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  margin: 0 24px;
  font-style: normal;
  color: #172b4d;
}

@media screen and (min-width: 992px) {
  .contact-form .two-pane {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 297px;
    max-width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .contact-form .container {
    width: 100%;
    margin-bottom: 16px;
  }

  .contact-form .two-pane .footer-text {
    text-align: left;
    flex-basis: 40%;
    margin-left: 0;
  }

  .contact-form .two-pane form {
    flex-grow: 1;
  }

  .contact-form .two-pane form input[type="submit"] {
    align-self: flex-start;
  }

  .contact-form .details .email-address {
    display: none;
  }
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 15px 16px;
  margin: 12px 0;
  font-family: Inter, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.contact-form textarea {
  padding: 12px;
  border: 1px solid #60c095;
  height: 114px;
}

.contact-form input::placeholder {
  color: #6b778c;
}

.contact-form textarea::placeholder {
  color: #091e42;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-form form {
  margin-top: 40px;
}

.contact-form form input[type="submit"] {
  font-weight: 500;
  font-size: 17px;
  align-self: center;
  padding: 12px;
}

.contact-form .social {
  margin: 0;
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
  margin-top: 44px;
}

@media screen and (min-width: 992px) {
  .contact-form .details {
    border-top: 1px solid #dfe1e6;
  }

  .contact-form .details .social {
    margin-top: 10px;
  }
}

.contact-form p {
  margin-top: 19px;
}

.contact-form .contact-mobile-bg {
  position: absolute;
  right: 0;
  bottom: 45px;
}

.contact-form .contact-desktop-bg {
  display: none;
  position: absolute;
  right: 0;
  bottom: 60px;
}

.contact-form .contact-desktop-bg.right {
  right: 0;
}

.contact-form .contact-desktop-bg.left {
  left: 0;
}

.contact-form .contact-desktop-bg.middle {
  left: 200px;
}

@media screen and (min-width: 992px) {
  .contact-form .contact-desktop-bg {
    display: inline;
  }

  .contact-form .contact-mobile-bg {
    display: none;
  }
}

.styled {
  color: #008552 !important;
  width: 100px;
  height: 100px;
  fill: currentColor;
}
