@font-face {
  font-family: 'Inter';
  src:
    url('./fonts/Inter/Inter-Regular.woff') format('woff'),
    url('./fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('./fonts/Inter/Inter-Bold.woff') format('woff'),
    url('./fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('./fonts/Inter/Inter-SemiBold.woff') format('woff'),
    url('./fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, 'Times New Roman', Times, serif;
  color: #344563;
  background-color: #fff;
}

.flex {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header > * {
  margin: 0 40px;
  flex-shrink: 0;
  text-decoration: none;
  color: inherit;
}

.header .logo {
  font-weight: 600;
  font-size: 20px;
}

main .content {
  background-image: url("./images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 20px 20px;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;
  color: #172b4d;
}

main h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin: 58px 0;
}

main p {
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 58px;
  font-size: 20px;
}

h1 span {
  color: #36b37e;
}

main .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 58px;
}

main .social svg {
  padding: 14px;
}

main .action {
  margin-bottom: 22px;
}

.section-heading {
  align-items: center;
  gap: 24px;
}

.section-heading h1 {
  margin: 0 20px;
  color: #172b4d;
}

.section-heading .indicator {
  width: 48px;
  height: 4px;
  border-radius: 24px;
  background-color: #36b37e;
}

.recent-works .card-container {
  display: grid;
  justify-items: center;
  color: #3a4a42;
  text-align: center;
}

.recent-works .image {
  background-color: #ebf0ee;
  height: 250px;
  width: 100%;
}

.card {
  background-color: whitesmoke;
  align-items: center;
  margin: 26px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d0d9d4;
  width: 327px;
}

.card h2 {
  font-weight: 600;
}

.card .inner-box {
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  height: 222px;
  justify-content: space-around;
  align-items: center;
}

.card ul {
  list-style-type: none;
  margin: 0 11px;
  display: flex;
  gap: 8px;
}

.card ul li {
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  width: max-content;
}

button {
  background-color: #36b37f;
  border: none;
  padding: 12px;
  color: white;
  font-weight: 500;
  font-size: 17px;
  font-family: Inter, 'Times New Roman', Times, serif;
  border-radius: 4px;
  text-align: justify;
}

button:active {
  background-color: #008552;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.about {
  align-items: center;
}

.about .description {
  margin: 0 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.about .card-container {
  margin-top: 59px;
}

.about .card {
  background-color: rgba(235, 240, 238, 1);
  align-items: center;
  margin: 26px;
  border-radius: 8px;
  overflow: hidden;
}

.about .card .icon {
  height: 80px;
  width: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  margin: 64px 0 40px;
}

.about .card ul {
  max-width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 72px;
}

.about .card ul li {
  background-color: #fff;
  color: rgba(54, 179, 126, 1);
  margin: 0;
}

.about .footer-text {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  margin: 0 24px;
  font-style: normal;
  color: #172b4d;
}
